span{
    font-size: 15px;
    font-family: helvetica,sans-serif;
}
input{
  color:grey;
}
.signPage{
  width:575px;
  height:585px;
  border:1px solid #4dc3ff;
  margin-left: 20%;
}
#formName{
  margin:5%;
}
.container{
  width:600px;
  height:585px;
}
h2{
  margin-bottom:5px;
  margin-left: 40%;
  font-family: helvetica,sans-serif;
}
#username,#Userpass,#Parentpass,#datepicker{
  width:220px;
}
#Pemail,#Uemail,#location{
  width:300px;
}
#subButton{
  width:240px;
  height:30px;
  border-radius: 5px;
  color:white;
  background-color: #0088cc;
  justify-content: center;
  margin-left: 25%;
  margin-top: 3%;
  border: none;
}
#subButton:hover{
  border-radius: 10px;
  border: none;
}
