<div class="container-fluid" id="jungle">
  <div class="row">
    <div class="col-lg-1">
      <div class="left-content">
        <div class="top-left-content">
          <!-- will be used later,if required to do some changes -->
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="mid-content">
        <img src="../images/homepage2.png" id="chat" alt="chat image">
      </div>
      <div class="navbar">
        <input type="button" id="actionButton1" ng-click="clicked()"  value="NEXT">
      </div>
    </div>
    <div class="col-lg-2">
      <div class="right-content">
        <!-- will be used later,if required to do some changes -->
      </div>
    </div>
  </div>
</div>
