<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>3rd layout</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/lionIntro.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-1">
          <div class="left-content">
            <div class="top-left-content">

            </div>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="mid-content">
            <img src="../images/homepage3.png" id="chat" alt="chat image" />
            <img src="../images/lionMascot.png" id="lion" alt="lion Image" />
          </div>
          <div class="navbar">
            <input type="button" id="actionButton3" value="PREVIOUS" />
            <input type="button" id="actionButton1" onclick="document.getElementById('chat').src='../images/homepage4.png'" value="NEXT" />
          </div>
        </div>
        <div class="col-lg-2">
          <div class="right-content">

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
