#lionIntro{
  background: url('../images/junglePage2.jpg') no-repeat center center fixed;
  background-size: cover;
}
@-webkit-keyframes greenPulse {
  from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
}

#lion-intro-next{
  width:150px;
  height:80px;
  border: 4px solid white;
  border-radius: 8px;
  color: white;
  font-size: 24px;
  text-align: center;
  -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  margin: 0 2%;
}
#lion-intro-previous{
  width:150px;
  height:80px;
  border: 4px solid white;
  border-radius: 8px;
  color: white;
  font-size: 24px;
  text-align: center;
  background-color: black;
  margin: 0 2%;
}
.row{
  margin-left: 40%;
}
