<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>preview page</title>
    <link rel="stylesheet" href="../css/preview.css"/>
  </head>
  <body>
  <div class="container-fluid">
    <!-- <div class="wrap">

    </div> -->
    <div class="upperBar">
      <!-- for future use -->
    </div>
    <div class="message">
      <img src="../images/chat6.png" id ="tragedyText" alt="tragedy message" />
    </div>
    <div class="gif">
      <img src="../images/lionDanceTragedy.gif" id="tragedy" alt="Dancetragedy" />
    </div>
    <div class="option">
      <a href="#">
        <img src="../images/previous.png" id="previous" alt="previous image" />
      </a>
      <a href="#">
        <img src="../images/home.png" id="home" alt="home image" />
      </a>
      <a href="#">
        <img src="../images/next.png" id="next" alt="next image" />
      </a>
    </div>
  </div>
  </body>
</html>
