<div class="kodabar">
  <div class="left-content-kodabar">
    <i class="fa fa-bars fa-4x" aria-hidden="true"></i>
    <span id="titleText">KODA</span>
  </div>
  <div class="right-content-kodabar">
    <!-- <a href="#">
          <span class="glyphicon glyphicon-triangle-bottom"></span>
    </a> -->
    <i class="fa fa-sort-desc fa-4x" aria-hidden="true"></i> 
    <span id="candidateName">Saina</span>
    <img ng-src="images/user.png"  id ="user" alt="User Image" />
  </div>
</div>
